body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('');
  background-color: #1a75ff;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
}

.page-subtitle {
  border-radius: 15px;
  color:#ffffff;
  margin-top: 5px;
  font-family: arial;
}
.resultado {
  color:#ffffff;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  width: 500px;
  font-size: 600%
  margin-top: 5px;
}
.resultado img {
  position: relative;
  left: -180px;
}

.page-logo {
  width: 200px;
}
#titulo{
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  animation: type 5s ; 
}
#btCalc {
  border-radius: 15px;
}
#P{
  border-radius: 15px;
}
#N{
  border-radius: 15px;
}
@keyframes type{ 
  0% {text-align: left;} 
  100% {text-align: center}
} 
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100;} 
} 

.resultado p{
  color: black;
}
